
body{
    margin-top:20px;
    background:#eee;
}
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}

.likebtn {
    padding: 1px;
    color: rgb(119, 116, 116);
    border: 1.5px solid rgb(160, 160, 160);
}

.postUser {
    Font-family: Copperplate, Copperplate Gothic, fantasy;
    font-size: 2rem;
    margin-left: 6px;
}

.thoughtText{
    font-family: “Helvetica Neue”,Helvetica,Arial,sans-serif;
    Font-size: 20px;
}

.thoughtHeader {
    font-size: 1.5rem;
    color: rgb(49, 47, 42);
    Font-family: Copperplate, Copperplate Gothic, fantasy;
}

#feedHeader {
    Font-family: Copperplate, Copperplate Gothic, fantasy;
    font-size: 3rem;
    color: #2f3655;
    background-color: rgb(250, 245, 228);
}
