@model LoginUser

<form asp-controller="Users" asp-action="Login" method="POST" class="partial">
    <h3>Sign In</h3>
    <div>
        <label asp-for="LoginEmail"></label>
        <span
        asp-validation-for="LoginEmail"
        ></span>
        <input asp-for="LoginEmail" />
    </div>
    <div >
        <label asp-for="LoginPassword"></label>
        <span
        asp-validation-for="LoginPassword"
        ></span>
        <input asp-for="LoginPassword" />
    </div>
    <button>Sign In</button>
</form>