@model User

<form asp-controller="Users" asp-action="Register" method="POST" class="partial">
    <h3>Sign Up</h3>
    <div>
        <label asp-for="Name"></label>
        <span
        asp-validation-for="Name"
        ></span>
        <input asp-for="Name"/>
    </div>
    <div>
        <label asp-for="Email"></label>
        <span
        asp-validation-for="Email"
        ></span>
        <input asp-for="Email"/>
    </div>
    <div >
        <label asp-for="Password"></label>
        <span
        asp-validation-for="Password"
        ></span>
        <input asp-for="Password"/>
    </div>
    <div >
        <label asp-for="ConfirmPassword"></label>
        <span
        asp-validation-for="ConfirmPassword"
        ></span>
        <input asp-for="ConfirmPassword"/>
    </div>
    <button>Sign Up</button>

</form>