@model Post

<div class="container w-75 mx-auto">
    <h2 class="text-center">Edit Post</h2>

    <form
    class="shadow p-3 rounded"
    asp-controller="Posts"
    asp-action="Update"
    asp-route-postId="@Model.PostId"
    method="POST"
    >

    <div class="mb-3">
        <label asp-for="ImgUrl"></label>
        <span asp-validation-for="ImgUrl" class="text-danger font-weight-bold">
        </span>
        <input class="form-control" asp-for="ImgUrl" value="@Model.ImgUrl"/>
    </div>

    <div class="mb-3">
        <label asp-for="Thought"></label>
        <span asp-validation-for="Thought" class="text-danger font-weight-bold">
        </span>
        <input class="form-control" asp-for="Thought" value="@Model.Thought"/>
    </div>

    <button class="btn btn-primary">Update</button>
    </form>
</div>