/* _content/SocialMedia/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* :root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #125e81;
  --text-secondary: rgb(177, 170, 149);
  --bg-primary: rgb(177, 170, 149);
  --bg-secondary: #125e81;
}

body {
  color: black;
  background-color: rgb(177, 170, 149);
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link img {
  min-width: 2rem;
  margin: 0 1.5rem;
} */

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color1: rgb(177, 170, 149);
  --bg-color2: #125e81;
  --text-color: #000;
  --main-color: #fff;
} */
